<div class="row">
  {{#each article}}
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="{{img}}">
        <div class="card-body">
          <h4 class="card-title">{{headline}}</h4>
          <a target="_blank" href="{{url}}" class="btn btn-primary btn-block">Link</a>
          <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#comment{{_id}}" aria-expanded="false" aria-controls="comment{{_id}}">
            Comments
          </button>
        </div>
        <div class="collapse" id="comment{{_id}}">
          <div class="card card-body">
            {{#each comment}}
              <p><span class="ion-close-circled" id="deleteComment" value="{{_id}}"></span> {{message}}</p>
            {{/each}}
            <form>
              <div class="form-group">
                <input type="text" class="form-control" id="message" placeholder="Add a comment...">
              </div>
              <button type="submit" class="btn btn-success btn-block" id="addComment" value="{{_id}}">Add Comment</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>  